<title>网站用户</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>用户</cite></a>
        <a><cite>网站用户</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">卡片面板</div>
        <div class="layui-card-body">
            <form class="layui-form layui-row layui-col-space15">
                <div class="layui-col-md3">
                    <div class="layui-input-wrap">
                        <div class="layui-input-prefix">
                            省名称
                        </div>
                        <script type="text/html" template lay-url="/api/table/provinces/get"
                            lay-done="layui.form.render();">
                            <select name="citys.province_id.=">
                                <option value="">请选择</option>
                                {{#
                                    layui.each(d.data, function(index, item){ }}
                                    <option value="{{ item.province_id }}">{{ item.province_name }}</option>
                                    {{# });
                                }}
                            </select>
                        </script>
                    </div>
                </div>
                <div class="layui-col-md3">
                    <div class="layui-input-wrap">
                        <div class="layui-input-prefix">
                            市名称
                        </div>
                        <input type="text" name="citys.city_name.like" placeholder="市名称" class="layui-input">
                    </div>
                </div>
                <div class="layui-btn-container layui-col-xs12">
                    <button class="layui-btn" lay-submit lay-filter="KYO-citys-table-search">搜索</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </form>
            <table class="layui-hide" id="KYO-citys-table"></table>
        </div>
    </div>
</div>

<script>
    layui.use('citys', layui.factory('citys'));
</script>