<title>网站用户</title>

<div class="layui-card layadmin-header">
    <div class="layui-breadcrumb" lay-filter="breadcrumb">
        <a lay-href="">主页</a>
        <a><cite>用户</cite></a>
        <a><cite>网站用户</cite></a>
    </div>
</div>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">卡片面板</div>
        <div class="layui-card-body">
            <!-- <script type="text/html" template lay-url="../../views/res/filter/provinces.json?v=1"> -->
            <form class="layui-form layui-row layui-col-space15">
                <!-- {{#
                        layui.each(d.data, function(index, item){ }}
                        <div class="layui-col-md3">
                            <div class="layui-input-wrap">
                                <div class="layui-input-prefix" style="width: 60px;">
                                    {{ item.title }}
                                </div>
                                <input type="text" name="{{ item.field }}.{{ item.match }}" value="" placeholder="请输入 {{ item.title }}" class="layui-input"
                                    lay-affix="clear" style="padding-left: 60px;">
                            </div>
                        </div>
                        {{# });
                    }} -->
                <div class="layui-col-md3">
                    <div class="layui-input-wrap">
                        <div class="layui-input-prefix">
                            省ID
                        </div>
                        <input type="text" name="province_id.=" value="" placeholder="省" class="layui-input"
                            lay-affix="clear">
                    </div>
                </div>

                <div class="layui-col-md3">
                    <div class="layui-input-wrap">
                        <div class="layui-input-prefix">
                            省名称
                        </div>
                        <input type="text" name="province_name.like" placeholder="市" class="layui-input">
                    </div>
                </div>
                <div class="layui-btn-container layui-col-xs12">
                    <button class="layui-btn" lay-submit lay-filter="KYO-provinces-table-search">搜索</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </form>
            <!-- </script> -->
            <table class="layui-hide" id="KYO-provinces-table"></table>
        </div>
    </div>
</div>

<script>
    layui.use('provinces', layui.factory('provinces'));
</script>